@model List<Recipies.Models.CommentModels.CommentViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/Comments.css" />
}

<!-- Main Body -->
<section>
    <div class="card mb-3">
        <img src="@Model[0].ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model[0].RecipeName</h5>            
            <p class="card-text"><small class="text-muted">Last updated 333 mins ago</small></p>
        </div>
    </div>
    <div class="container">
        <div class="row" id="rowToAppend">            
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Comments</h1>
                @foreach (var comment in Model)
                {
                    <div class="comment mt-4 text-justify">
                        <img src=@comment.ImageUrl alt="" class="rounded-circle" width="40" height="40">
                        <h4>@comment.SenderEmail</h4> <span>- @comment.CommentCreation</span> <br>
                        <p>@comment.CommentMessage</p>
                    </div>
                }
                
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <input type="hidden" asp-for="@Model[0].RecipeId" />
                    <div class="form-group">
                        <h4>Leave a comment</h4> <label name="CommentMessage">Message</label> <textarea name="CommentMessge"  msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                    </div>
                    <div class="form-group"> <label name="SenderEmail">Email</label> <input type="text" name="SenderEmail" class="form-control"> </div>
                    <div class="form-group" style="text-align:center"> <button type="button" id="sendMessage" class="btn-warning rounded" style="color:black">Post Comment</button> </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        
        var buttonSendMessage = document.getElementById('sendMessage');
        buttonSendMessage.addEventListener('click', function () {            
            $.ajax({
                url: `/Comment/Add`,
                type: "POST",                
                data: $('#algin-form').serialize(),
                dataType:'json',
                success: function (data) {
                    console.log(data);
                    if (data.success) {
                        var rowToAppend = document.getElementById('rowToAppend');
                        var htmlToAppend = `<div class="comment mt-4 text-justify">
                        <img src="https://i.imgur.com/CFpa3nK.jpg"  alt="" class="rounded-circle" width="40" height="40">
                        <h4>${data.commentModel.senderEmail}</h4> <span>- ${data.commentModel.commentCreation}</span> <br>
                        <p>${data.commentModel.commentMessage}</p>
                        </div>`;
                        $(rowToAppend).append(htmlToAppend);                        
                    } else {
                        window.alert(data.message);
                    };
                },
                error: function (error) {
                    window.alert(data.message);
                }
            });
        });
    </script>
} 
