@model List<Recipies.Models.CommentModels.CommentViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/Comments.css" />
}

<!-- Main Body -->
<section>
    <div class="card mb-3">
        <img src="@Model[0].ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model[0].RecipeName</h5>            
            
        </div>
    </div>
    <div class="container">
        <div class="row">            
            <div class="col-sm-5 col-md-6 col-12 pb-4" id="rowToAppend">
                <h1>Comments</h1>
                @if (Model.Count > 1)
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="comment mt-4 text-justify">
                            
                            <h4>@Model[i].SenderEmail</h4> <span>- @Model[i].CreatedOn</span> <br>
                            <p>@Model[i].Description</p>
                        </div>
                    }
                }
                else if (Model.Count == 1)
                {
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="comment mt-4 text-justify">                            
                            <h4>@Model[i].SenderEmail</h4> <span>- @Model[i].CreatedOn</span> <br>
                            <p>@Model[i].Description</p>
                        </div>
                    }

                }
                else
                {
                    <h3 id="Comments">There are no comments for this recipe</h3>
                }




            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <input type="hidden" name="RecipeId" value="@ViewData["RecipeId"]" />
                    <div class="form-group">
                        <h4>Leave a comment</h4> <label>Message</label> <textarea name="CommentMessage"   msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                    </div>
                    <div class="form-group"> <label>Email</label> <input type="text" name="SenderEmail" class="form-control"> </div>
                    <div class="form-group" style="text-align:center"> <button type="button" id="sendMessage" class="btn-warning rounded" style="color:black">Post Comment</button> </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        
        var buttonSendMessage = document.getElementById('sendMessage');
        buttonSendMessage.addEventListener('click', function () {            
            $.ajax({
                url: `/Comment/Add`,
                type: "POST",                
                data: $('#algin-form').serialize(),
                dataType:'json',
                success: function (data) {                    
                    if (data.success) {
                        var commentsHeader = document.getElementById('Comments');
                        $(commentsHeader).remove();
                        var rowToAppend = document.getElementById('rowToAppend');
                        var htmlToAppend = `<div class="comment mt-4 text-justify">                        
                        <h4>${data.commentModel.senderEmail}</h4> <span>- ${data.commentModel.commentCreation}</span> <br>
                        <p>${data.commentModel.commentMessage}</p>
                        </div>`;
                        $(rowToAppend).append(htmlToAppend);                        
                    } else {
                        window.alert(data.message);
                    };
                },
                error: function (error) {
                    window.alert(data.message);
                }
            });
        });
    </script>
} 
