@model List<RecipeViewModel>
<div class="container">
    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="card col-md-4" style="width: 18rem;text-align:left">
                @*<img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">*@
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <input type="hidden" value="@recipe.Id" />
                    <p>
                        Likes  -  <span id="numberOfLikes-@recipe.Id">@recipe.NumberOfLikes </span>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <button class="like likeBtn" id="@recipe.Id">
                                <i class="fa fa-thumbs-o-up" id="@recipe.Id" aria-hidden="true"></i>
                            </button>
                            <button class="dislike dislikeBtn" id="@recipe.Id">
                                <i class="fa fa-thumbs-o-down" id="@recipe.Id" aria-hidden="true"></i>
                            </button>
                        }
                    </p>
                    <p>
                        Comments - <span id="numberOfComments-@recipe.Id">@recipe.NumberOfComments </span>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-outline-primary ml-2" asp-controller="Comment" asp-action="All" asp-route-id="@recipe.Id">Add comment</a>
                        }

                    <p>Owner - @recipe.CreatedBy</p>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (this.User.IsInRole("Administrator"))
                        {
                            <a asp-controller="Admin" asp-action="DeleteRecipe" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Delete Recipe</a>
                            <a asp-controller="Recipes" asp-action="Details" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Details</a>
                        }
                        <a asp-controller="Recipes" asp-action="Details" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Details</a>
                    }

                </div>
            </div>
        }
    </div>
</div>
