@model List<RecipeViewModel> 
<div class="container">
    <div class="row">
        @foreach (var recipe in Model)
        {
        <div class="card col-md-4" style="width: 18rem;text-align:left">
            <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <input type="hidden" value="@recipe" />
                <p>
                    Likes  -  <span id="numberOfLikes-@recipe.Id">@recipe.NumberOfLikes </span>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <button class="like likeBtn" id="@recipe.Id">
                            <i class="fa fa-thumbs-o-up" id="@recipe.Id" aria-hidden="true"></i>
                        </button>
                        <button class="dislike dislikeBtn" id="@recipe.Id">
                            <i class="fa fa-thumbs-o-down" id="@recipe.Id" aria-hidden="true"></i>
                        </button>

                    }
                </p>
                <p>
                    Comments - <span id="numberOfComments-@recipe.Id">@recipe.NumberOfComments </span>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-primary ml-2" asp-controller="Comment" asp-action="All" asp-route-id="@recipe.Id">Add comment</a>
                    }

                        <p>Owner - @recipe.CreatedBy</p>
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (this.User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Admin" asp-action="DeleteRecipe" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Delete Recipe</a>
                        <a asp-controller="Recipes" asp-action="Details" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Details</a>
                    }
                    <a asp-controller="Recipes" asp-action="Details" class="btn btn-primary" asp-route-id="@recipe.Id" style="text-align:center">Details</a>
                }

            </div>
        </div>
        }
    </div>
    </div>
@section Scripts { 
    <script>
        var btnLike = document.getElementsByClassName('likeBtn')[0];
        console.log(btnLike);
        var btnDislike = document.getElementsByClassName('dislikeBtn')[0];
        btnLike.addEventListener('click', function (e) {
            $.ajax({
                url: `/Likes/LikeRecipe/${e.target.id}`,
                type: "POST",
                dataType: "json",
                data: { "id": e.target.id },
                success: function (data) {
                    if (data.success) {
                        var numberOfLikesSpan = document.getElementById(`numberOfLikes-${data.id}`);
                        var numberOfLikes = numberOfLikesSpan.innerText;
                        var numberOfLikesAsNumber = Number.parseInt(numberOfLikes);
                        numberOfLikesAsNumber++;
                        numberOfLikesSpan.innerText = numberOfLikesAsNumber;
                    } else {
                        window.alert(data.message);
                    };
                },
                error: function (error) {
                    window.alert("Unable to like recipe");
                }
            });
        })
        btnDislike.addEventListener('click', function (e) {
            $.ajax({
                url: `/Likes/DisLikeRecipe/${e.target.id}`,
                type: "POST",
                dataType: "json",
                data: { "id": e.target.id },
                success: function (data) {
                    if (data.success) {
                        var numberOfLikesSpan = document.getElementById(`numberOfLikes-${e.target.id}`);
                        var numberOfLikes = numberOfLikesSpan.innerText;
                        var numberOfLikesAsNumber = Number.parseInt(numberOfLikes);
                        numberOfLikesAsNumber--;
                        numberOfLikesSpan.innerText = numberOfLikesAsNumber;
                    } else {
                        window.alert(data.message);
                    };
                },
                error: function (error) {
                    window.alert("Unable to dislike recipe");
                }
            });
        })
    </script>
}