@model RecipeViewModel
<div class="container">
    <div class="card offset-4" style="width: 400px; margin-top:90px;text-align:center">
        <img src="@Model.ImageUrl" class="w-100 border-bottom" alt="Rounded Image">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.PreparationDescription</p>
        </div>
        <ul class="list-group list-group-item">
            <li class="list-group-item" style="background-color:cornflowerblue;color:white">Ingredients</li>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li class="list-group-item">@ingredient.IngredientName : @ingredient.Quantity</li>
            }

        </ul>
        <ul class="list-group list-group-item">
            <li class="list-group-item" style="background-color: cornflowerblue; color: white">Recipe info</li>           
            <li class="list-group-item">Size of portion : @Model.PortionsSize</li>
            <li class="list-group-item">Preparation time : @Model.TimeToPrepare minutes.</li>
            <li class="list-group-item">@Model.NumberOfLikes likes.</li>
            <li class="list-group-item">@Model.NumberOfComments comments.</li>
            <li class="list-group-item">Category : @Model.Category</li>
        </ul>
        
    </div>
</div>
